<!DOCTYPE html>
<html>
<head>

    <title>{{ page.title }}</title>

    {% if page.description %}
    <meta name="description" content="{{ page.description }} 望蜀得陇">
    {% endif %}

    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" type="text/css" href="/assets/resources/syntax/syntax.css">
    <link rel="stylesheet" type="text/css" href="/assets/resources/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/resources/font-awesome/css/font-awesome.min.css">

    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/resources/bootstrap/js/bootstrap.js"></script>
    <script src="/assets/js/jquery.pagepiling.min.js"></script>
    <script src="/assets/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?40772bc4ac75b32db18f92b73439a732";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
    {{ content }}
</body>
</html>