<div class="interest">
  <div class="int-content">
    <h2>&middot; 交个朋友吧 &middot;</h2>
    <p>命运石之门/棋魂/<b>动漫</b>/灌篮高手/Angle Beats</p>
    <p>周杰伦/陶喆/戴佩妮/五月天/<b>歌手</b>/Coldplay/Blunt James/陈奕迅</p>
    <p>羽毛球/<b>Dota</b>/看动漫/写小说/<b>睡觉</b>/散步/炉石</p>
    <p>不以<b>产品经理</b>为职业的话/当<b>小说家</b>或者<b>写代码</b>咯/<b>无业游民</b>也说不定</p>
    <p>∞</p>
    <p>To see the world things dangerous to come to<br>To see behind walls to draw closer<br>To find each other and to feel</p>
    <p>That is the purpose of life</p>
    <div class="int-link">
      <span><a href="https://github.com/Sheldon-Yin/Sheldon-Yin.github.io" target="_blank"> [ 送 ★ 嘛 ] </a></span>
      &nbsp;&middot;&nbsp;
      <span><a href="http://www.sheldonyin.website/fragment/messages/" target="_blank"> [ 去留言 ] </a></span>
      &nbsp;&middot;&nbsp;
      <span><a href="javascript:">[ 打赏啦 ]</a></span>
    </div>
  </div>
</div>

