<div class="map">
    <div class="map-content">
        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=450
                src="http://music.163.com/outchain/player?type=0&id=118896960&auto=1&height=430"></iframe>
    </div>
    <div class="map-container">
        <div class="map-text one">
            <h2>我从未想着要去什么地方！</h2>

            <p>沙漠，大海，高山，小镇</p>

            <p>可是中国那么大，对我来说好像都一样</p>

            <p>没有任何出行的准备，可是心却四处乱荡</p>

            <p>∞</p>
        </div>
        <div class="map-text two">
            <h2>想象着任何可能有人在的地方!</h2>

            <p>西藏 &middot; 云南 &middot; 港澳台 &middot; 泰国 &middot; 厦门</p>

            <p>新西兰 &middot; 欧洲列国 &middot; 亚马逊原始森林 &middot; 日韩</p>

            <p>∞</p>

            <h2>想象各种各样的生活?</h2>

            <p>其实我想，在哪，应该都一样，在原地，也一直都不一样</p>
        </div>
    </div>
</div>