<link rel="stylesheet" href="http://7xr72k.com1.z0.glb.clouddn.com/jquery.pagepiling.css">
<link rel="stylesheet" href="http://7xr72k.com1.z0.glb.clouddn.com/index.min.css">
<script src="http://7xr72k.com1.z0.glb.clouddn.com/index.min.js"></script>
<script>
$(function() {
    //分页设置
    $('#pagepiling').pagepiling({
        menu: '#menu',
        anchors: ['info', 'hey', 'travel'],
        sectionsColor: [],
        navigation: {
            'textColor': '#f2f2f2',
            'bulletsColor': '#CE2323',
            'position': 'right'
        },

        afterRender: function(){
            $('#pp-nav').addClass('custom');
        },
        afterLoad: function(anchorLink, index){
            if (index > 1) {
                $('#pp-nav').removeClass('custom');
            } else {
                $('#pp-nav').addClass('custom');
            }
        }
    });
});
</script>